.navbar{
    height: 90px;
    border-bottom: 1px solid rgba(0, 151, 167, 0.3);
    border-radius: 0;
}

/* for svg logo */
.logo img{
    width: 150px;
    height: 87px;
}

.github{
    border-radius: 5px;
    border: 1px solid rgba(0, 151, 167, 0.7);
    padding: 7px 13px;
    margin-top:20px;
}
